<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
    <div id="prices"></div>

    <script>
        const ws = new WebSocket('ws://localhost:8000/ws/crypto/');
        ws.onmessage = (e) => {
            const data = JSON.parse(e.data);

            for (const [coin, price] of Object.entries(data)) {
                if (coin === "type") continue;

                let el = document.getElementById(coin);
                if (!el) {
                    const h1 = document.createElement('h1');
                    h1.innerHTML = `${coin}: <span id="${coin}">---</span>$`;
                    document.getElementById('prices').appendChild(h1);
                    el = document.getElementById(coin);
                }

                el.innerText = price;
            }
        };
    </script>
</body>
</html>